{% extends 'base.html.twig'%}
{% block title %}
	{{message.title}}
{% endblock %}

{% block body %}
	<div class="messageWrapper border p-2 d-flex flex-column">
		<h1 class="border-bottom">{{message.title}}</h1>
		<p class="border-bottom">From
			<i>{{message.author.username}}</i><p/></p>
		<p class="border-bottom">To
			<i>{{message.recipient.username}}</i><p/></p>
		<p class="border-bottom">{{message.content}}</p>

		{% if message.author.id == user.id %}
			<form action="{{path('message.delete', {id:message.id})}}" method="POST">
				<input type="hidden" name="_method" value="DELETE"></input>
			<button type="submit" class="btn btn-sm btn-danger">Supprimer votre message</button>
		</form>
	{% endif %}
</div>{% endblock %}{#on récupère du controller tous les éléments du message#}
